<div class="app-container">

  <mat-toolbar color="primary" class="toolbar">
    <button mat-button routerLink="categories">
      <img src="assets/chef.svg" class="app-logo">
      <span class="app-name">Cooking</span>
    </button>
    <span class="spacer"></span>

    <ng-container *ngIf="sessionQuery.isLoggedIn$| async; else loginBlock">

      <button mat-button (click)="showSearch()">
        <mat-icon>search</mat-icon>
        Suchen
      </button>

      <a mat-button routerLink="session/logout">
        <mat-icon>logout</mat-icon>
        Logout
      </a>
    </ng-container>
    <ng-template #loginBlock>
      <a mat-button routerLink="session/">
        <mat-icon>login</mat-icon>
        Login
      </a>
    </ng-template>
  </mat-toolbar>


  <div class="content">
    <router-outlet></router-outlet>
  </div>


  <div class="footer mat-small">
    <a href="https://github.com/smilix/cooking">https://github.com/smilix/cooking</a>
    <br>
    <span class="version">{{version.revision}} <ng-container *ngIf="version.dirty">dirty!</ng-container></span>
  </div>
</div>
