.search-container {
  background: white;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;

  .block {
    display: flex;
    justify-content: center;
    align-items: center;

    .search-icon {
      margin: 0 8px;
    }

    .search-field {
      min-width: 200px;

      @media screen and (min-width: 400px) {
        min-width: 300px;
      }
    }
  }
}

::ng-deep .search-overlay {
  position: inherit !important;
}
